@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 90vh;
    font-size: 2rem;
    font-family: 'Pacifico', cursive;;
}

